keywords/*
!keywords/.gitkeep
export/*
!export/.gitkeep
gudang/db/*
!gudang/db/.gitkeep
/backup-db
application/cache/ci_session/*
!application/cache/ci_session/.gitkeep
/application/cache/blade/*
!application/cache/blade/.gitkeep
/*.bat